keybinds clear-defaults=true {
    tab {
        bind "h" { GoToPreviousTab; }
        bind "l" { GoToNextTab; }
        bind "n" { NewTab; SwitchToMode "normal"; }
        bind "r" { SwitchToMode "renametab"; TabNameInput 0; }
        bind "x" { CloseTab; SwitchToMode "normal"; }
    }
    shared_except "locked" {
        bind "Super t" { NewTab; SwitchToMode "normal"; }
        bind "Super 1" { GoToTab 1; SwitchToMode "normal"; }
        bind "Super 2" { GoToTab 2; SwitchToMode "normal"; }
        bind "Super 3" { GoToTab 3; SwitchToMode "normal"; }
        bind "Super 4" { GoToTab 4; SwitchToMode "normal"; }
        bind "Super 5" { GoToTab 5; SwitchToMode "normal"; }
        bind "Super w" { CloseFocus; SwitchToMode "normal"; }
    }
}
web_client {
    font "monospace"
}
theme "nord"
 
show_startup_tips false
